name: Autograding Tests
'on':
- push
- repository_dispatch
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: prints "Hello Pinnacle"
      id: prints-hello-pinnacle
      uses: classroom-resources/autograding-io-grader@v1
      with:
        test-name: prints "Hello Pinnacle"
        setup-command: ''
        command: python3 main.py
        input: ''
        expected-output: Hello Pinnacle
        comparison-method: exact
        timeout: 10
        max-score: 10
    - name: Autograding Reporter
      uses: classroom-resources/autograding-grading-reporter@v1
      env:
        PRINTS-HELLO-PINNACLE_RESULTS: "${{steps.prints-hello-pinnacle.outputs.result}}"
      with:
        runners: prints-hello-pinnacle
